.idea
.vscode
.gitignore

git/
temp/
Test/
Models/Inner/
module/__pycache__/
exp/
OTFiles/Inner/
voice/Inner/
pwgan/Inner/

APIKeys/ASR_APIKeys.txt
APIKeys/TTS_APIKeys.txt
test.py
Test.bat
Launch_Inner.bat